*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title{
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #aaa;
}
.container{
    display: flex;
}


.menu{
    width: 20%;

}
.menu a{
    background-color: #e5e5e5;
    display: block;
    padding: 8px;
    margin-top: 7px;
    margin-left: 10px;


}

.texto{
    width: 60%;
    padding: 0 20px;
}

.about{
    width: 20%;
    background-color: #e5e5e5;
    text-align: center;
    padding: 15px;
    margin-right: 10px;
}

.copyright{
    background-color: #e5e5e5;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

/* para dar estilos especificos para pantallas tipo tablet */
@media screen and (max-width :800px) {
    h1{
        color: #15f;
    }
}

/* estilo para mobil */

@media screen and (max-width : 600px ){
    .container{
        flex-direction: column;
        width: 100%;
    }

    .container div{
        width: 100%;
    }
}